{% if settings.popup_enable %}
{% comment %} If not selected collection and collection's products is zero {% endcomment %}
{% if collections[settings.popup_randomly_collection] != blank and  collections[settings.popup_randomly_collection].all_products_count > 0  %} 
<script>
  $(function() {


    var mytimeAgo = ['5', '10', '12', '14', '16', '18', '20', '25', '30', '35', '40','42','45', '50', '60'];  
    var randomlytimeAgo = Math.floor(Math.random() * mytimeAgo.length);
    var currentmytimeAgo = mytimeAgo[randomlytimeAgo];

    $(".timeAgo").text(currentmytimeAgo+" {{ 'cart.general.minutes_ago' | t}}"); 
    $("#someone-purchased > div:gt(0)").hide();
	$('#someone-purchased > div:first').hide();
    
    setInterval(function() {
     $('#someone-purchased > div:first').hide().fadeOut('slow').next().delay({{settings.notification_popup_time }}/2).fadeIn(200).end().appendTo('#someone-purchased');

      var mytimeAgo = ['5', '10', '12', '14', '16', '18', '20', '25', '30', '35', '40','42','45', '50', '60'];  
      var randomlytimeAgo = Math.floor(Math.random() * mytimeAgo.length);
      var currentmytimeAgo = mytimeAgo[randomlytimeAgo];
      $(".timeAgo").text(currentmytimeAgo+" {{ 'cart.general.minutes_ago' | t}}"); 
       },  {{settings.notification_popup_time }}*1.5);



      setInterval(function() {
        $('#someone-purchased').fadeIn(function() {   
          $(this).removeClass("fade-out"); 
        }).delay(4000)
        .fadeIn( function() {  
          $(this).addClass("fade-out"); 
        }).delay({{settings.notification_popup_time }}); 
      }, {{settings.notification_popup_time }});

      $(".close_notification").click(function(){
     
        $('#someone-purchased').find('div:first').hide();
      });
      if($(window).width() < 767) { 
        someone_purchasedpopup();
      }
    });
     $(window).bind('resize', function(e){
      window.resizeEvt;
      $(window).resize(function()
                       {
        clearTimeout(window.resizeEvt);
        window.resizeEvt = setTimeout(function()
                                      {
          someone_purchasedpopup();
        }, 250);
      });
    });
      function someone_purchasedpopup() {
       if($(window).width() < 767) {
        $(window).scroll(function() {

          if ($(this).scrollTop()>0)
          {
         
            $("#someone-purchased").addClass("fade-out");      
            setTimeout(function(){
              $("#someone-purchased").hide();
              $('#someone-purchased').find('div:first').hide();       
            }, {{settings.notification_popup_time }}/2);
          } else {
            $("#someone-purchased").removeClass('fade-out');              
            setTimeout(function(){
              $("#someone-purchased").show();
              $('#someone-purchased').find('div:first').hide();           
            }, {{settings.notification_popup_time }}/2);
          }
        });
       }       
      }

</script>


{% comment %}
{{ 'buttom_popup.scss.css' | asset_url | stylesheet_tag }}
{% endcomment %}

{% assign randomly_collection = collections[settings.popup_randomly_collection] %}

{% unless settings.popup_disable_mobile %}
<style>
@media only screen and (max-width: 767px) {
  #someone-purchased{
  display:none !important;
  }
} 
</style>
{% endunless %}

<div id="someone-purchased" class="customized fade-in fade-out" style="display:none;">


  {% capture index %}{{ 'now' | date: '%S' | times: randomly_collection.products.size | divided_by: 60 }}{% endcapture %}

  {% for product in randomly_collection.products limit:1000 %}

  <div class="purchased_pro">
    
    <a href="{{ product.url }}">
      {% if settings.enable_product_variant_image %}

      <img src="{% if product.first_available_variant.image %} {{ product.first_available_variant.image | img_url: '200x' }} {% else %} {{ product | img_url: '120x85' }} {%endif%}" alt="{{ product.featured_image.alt | escape }}" >
      {% else %}
      <img src="{{ product | img_url: '200x' }}" alt="{{ product.featured_image.alt | escape }}">
      {% endif %}
      <p>      
        {{ settings.buttom_message }}
        <span>
          {{ product.title }}
        </span>
        <span>{{product.price |  money}}</span>
        {% if settings.popup_ago_custom_time %}
        <small class="timeAgo">{% cycle '5', '10', '12', '14', '16', '18', '20', '25', '30', '35', '40','42','45', '50', '60' %} {{ 'cart.general.minutes_ago' | t}}</small>
        {% endif %}
      </p>
      </a>
      {% unless settings.popup_disable_close %}
      <span class="close_notification">{% include 'icon-cross' %}</span>
      {% endunless %}
    
  </div>

  {% endfor %}

</div>

{% endif %}
{% endif %}